.root {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.loading {
  position: relative;

  & tbody {
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(#fff, 0.7);
    }
  }
}

.fixed {
  table-layout: fixed !important;
}

.table-cell-json {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  height: 1.5em;
  padding-right: 50px;

  &__collapsed {
    line-height: 1.5;
    position: relative;
    word-break: break-all;
    max-height: 200px;
    overflow-y: auto;
  }

  &-expand {
    float: right;
    margin-top: -1.5em;
    margin-right: -50px;
    position: relative;
  }

  &-expand,
  &-collapse {
    padding: 0;
    border: 0;
    display: block;
  }
}
